[data-theme="dark"]{
  --color-bg: black;
  --color-fg: white;
  --color-a: red;
}
[data-theme="light"]{
  --color-bg: white;
  --color-fg: black;
  --color-a: blue;
}
body {
  background-color: var(--color-bg);
  text-align:center;
  font-family:"times new roman";
}

p { 
  color: var(--color-fg);
}

h1{
  color: var(--color-fg);
  text-shadow: 0 0 10px var(--color-a), 0 0 20px var(--color-a), 0 0 30px var(--color-a), 0 0 40px var(--color-a);
}

h2{
  color: var(--color-fg);
  text-shadow: 0 0 10px var(--color-a), 0 0 20px var(--color-a), 0 0 30px var(--color-a), 0 0 40px var(--color-a);
}  /* ← This was missing */

a {
  color: var(--color-a);
  font-family:"times new roman";
}  /* ← This was missing */

.grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  row-gap:30px;
}

.col2 {
  grid-column:2;
}

.row1 {
  grid-row:1;
}

.row2 {
  grid-row:2;
}

footer {
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  font-size: 75%;
}  /* ← This will now be applied! */
