body {
  background-color:black;
  text-align:center;
}

p { 
  color:white;
  font-size:200%;
  font-family:"times new roman"
}

h1{
  color:white;
  font-size:200%;
  font-family:"times new roman"
}

a {color:red;
   font-size:200%;
   font-family:"times new roman";
  }

